@import 'lobby.css';
@import 'chat-style.css';
@import 'toolbox.css';

body {
  font-family: sans-serif;
}

/* a {
  text-decoration: none;
} */

label {
  display: block;
}

.btn.btn-outline-primary {
  /* color: #842029; */
  height: 40px;
}

.btn.btn-primary {
  /* margin: 5px; */
}

.navbar.navbar-expand.navbar-dark.bg-primary {
  flex-wrap: nowrap;
  justify-content: space-between;
}

input.form-control {
  width: 50%;
}

/* .main-form {
  width: 30%;
} */

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.homepage {
  background-repeat: repeat;
  background-image: url('/doodles.png');
}
