@import 'lobby.css';
@import 'chat-style.css';
@import 'toolbox.css';

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

/* label {
  display: block;
} */

form div {
  margin: 1em;
  display: inline-block;
}

.btn.btn-outline-primary {
  /* color: #842029; */
}

.navbar.navbar-expand.navbar-dark.bg-primary {
  flex-wrap: nowrap;
  justify-content: space-between;
}
