@import 'lobby.css';
@import 'chat-style.css';
@import 'toolbox.css';
@import 'landingPage.css';
@import 'postDrawing.css';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');

body {
  font-family: sans-serif;
}

/* a {
  text-decoration: none;
} */

h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2f3774;
}

label {
  display: block;
}

/* .btn.btn-outline-primary {
  /* color: #842029; */
/* height: 40px;
} */

*/ .navbar.navbar-expand.navbar-dark {
  flex-wrap: nowrap;
  justify-content: space-between;
}

.navbar-dark .navbar-brand {
  text-align: center;
  font-family: 'Nanum Pen Script';
  background: -webkit-linear-gradient(#7ea4b0, #cdd27e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
