.toolbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  margin: 7px;
  border: 2px solid black;
  width: 470px;
  height: 135px;
}

.drawingLobby > div {
  display: flex;
  display: row;
}
