.toolbox {
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap; */
  align-content: center;
  justify-content: space-around;
  align-items: center;
  margin: 7px;
  /* border: 2px solid black; */
  width: 850px;
  height: 700px;
}

.circle-picker {
  flex-wrap: nowrap;
  width: 252px;
  display: flex;
  /* flex-wrap: wrap; */
  margin-right: -14px;
  margin-bottom: -14px;
}

.col-sm-8 {
  /* flex: 0 0 auto; */
  width: 860px;
}
